body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app-container {
  width: 100%;
  max-width: 85%;
  margin: 10px auto 0px auto;
}
@media only screen and (max-width: 768px) {
  .app-container {
    width: 100%;
    max-width: 100%;
    margin: 0px auto 0px auto;
  }
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
  overflow: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.loading {
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  margin: 0 auto;
  opacity: 0;
  width: 30px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.menu {
  width: calc(100% - 10px);
  background-color: #ff6600;
  padding: 0 5px 0 5px;
  font-size: 10pt;
}
.logo {
  font-weight: bold;
  vertical-align: middle;
  line-height: 26px;
}
.tab-menu-list {
  padding: 0 8px 0 8px;
}
.tab-menu-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tab-menu-list > ul > li {
  float: left;
  border-right: 1px solid black;
  padding: 0px 8px 0px 8px;
  margin: 5px 0px 5px 0px;
}
.tab-menu-list > ul > li:first-child {
  padding-left: 0;
}
.tab-menu-list > ul > li:last-child {
  border-right: 0;
}
.main {
  background-color: #f6f6ef;
  width: 100%;
}
.jobs-item {
  padding: 5px 10px 5px 10px;
}
.jobs-top {
  font-size: 10pt;
}
.jobs-url {
  color: #828282;
  font-size: 8pt;
  margin: 3px 5px 0px 5px;
}
.jobs-bottom {
  color: #828282;
  font-size: 7pt;
}
.post-item {
  display: table;
  padding: 5px 10px 5px 0px;
}
.post-position {
  width: 31px;
  font-size: 10pt;
  color: #828282;
  text-align: center;
}
.post-left {
  display: table-row;
  width: 51.28px;
}
.post-right {
  display: table-row;
  padding-left: 5px;
  width: calc(100% - 51.28px - 5px);
}
.post-title {
  font-size: 10pt;
  padding-right: 5px;
  color: black;
}
.post-bottom-section {
  color: #828282;
  font-size: 8pt;
  padding-top: 3px;
  /* margin-left: 20px; */
}
.post-bottom-section > div {
  padding: 0 3px 0 3px;
}
.post-bottom-section > div:first-child {
  padding: 0 3px 0 0px;
}
.post-hide {
  border-right: 1px solid #828282;
  border-left: 1px solid #828282;
}
.post-url {
  font-size: 7pt;
  color: #828282;
  /* padding-left: 5px; */
  padding-top: 4px;
}
.post-new > div {
  padding: 0 3px 0 3px;
}
/*SINGLE COMMENT*/
.comment-placeholder {
  margin-left: 20px;
  font-size: 11pt;
  padding: 12px 0 10px 0;
}
.comment {
  margin-left: 2%;
  margin-top: 4px;
  padding-bottom: 5px;
  border-left: 2px solid #ebebc0;
}

.comment:hover {
  border-left: 2px solid #cc6666;
}

.comment-top {
  font-size: 8pt;
  color: #828282;
}
.comment-top > div {
  margin: 0 4px 0 4px;
}
.comment-text {
  overflow: hidden;
  padding-left: 27px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
  font-size: 9pt;
}
.comment-form {
  margin-left: 40px;
  margin-bottom: 15px;
}
.comment-form > textarea {
  width: 25%;
}
div > p:last-child {
  margin: 0;
}
.post-position-arrow > img {
  width: 15px;
  height: 15px;
}
.story {
  padding-top: 15px;
  padding-left: 20px;
}
.story-title {
  /* margin-left: 5px; */
  font-size: 11pt;
  font-weight: 500;
  padding-right: 5px;
  color: black;
}
.story-item {
  width: calc(100% - 15px);
}
img {
  display: block;
}
