body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app-container {
  margin-top: 10px;
  width: 100%;
  max-width: 85%;
  margin: 10px auto 0px auto;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
  overflow: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}

.loading {
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  /* margin: -15px 0 0 -15px; */

  margin: 0 auto;
  opacity: 0;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */

  width: 30px;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* header */
.menu {
  width: calc(100% - 10px);
  background-color: #ff6600;
  padding: 0 5px 0 5px;
  font-size: 10pt;
}
.logo {
  font-weight: bold;
  vertical-align: middle;
  line-height: 26px;
}

.tab-menu-list {
}
.tab-menu-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tab-menu-list > ul > li {
  float: left;
  border-right: 1px solid black;
  padding: 0px 8px 0px 8px;
  margin: 5px 0px 5px 0px;
}

.tab-menu-list > ul > li:last-child {
  border-right: 0;
}

/* main div */
.main {
  background-color: #f6f6ef;
  width: 100%;
}

/* POST ITEM */
.post-item {
  padding: 5px 10px 5px 0px;
  margin-left: 2%;
}
.post-position {
  width: 25px;
  margin-right: 5px;
  font-size: 10pt;
  color: #828282;
  text-align: center;
}

.post-title {
  margin-left: 5px;
  font-size: 10pt;
  color: black;
}

.post-new {
}

.post-bottom-section {
  color: #828282;
  font-size: 8pt;
  margin-left: 16px;
}
.post-bottom-section > div {
  padding: 0 3px 0 3px;
}
.post-hide {
  border-right: 1px solid #828282;
  border-left: 1px solid #828282;
}
.post-url {
  font-size: 7pt;
  color: #828282;
  margin-left: 5px;
  padding-top: 4px;
}

.post-new > div {
  padding: 0 3px 0 3px;
}
/* ASK */

/*SINGLE COMMENT*/
.comment {
  margin-left: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.comment-top {
  font-size: 8pt;
  color: #828282;
}

.comment-top > div {
  margin: 0 4px 0 4px;
}

.comment-text {
  overflow: hidden;
  padding-left: 27px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 9pt;
}

.comment-form {
  margin-left: 40px;
  margin-bottom: 15px;
}
.comment-form > textarea {
  width: 25%;
}

div > p:last-child {
  margin: 0;
}

.up-img {
}

.post-position-arrow > img {
  width: 15px;
  height: 15px;
}
