body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app-container {
  margin-top: 10px;
  width: 100%;
  max-width: 80%;
  margin: 10px auto 0px auto;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
  overflow: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* header */
.menu {
  width: calc(100% - 10px);
  background-color: #ff6600;
  padding: 0 5px 0 5px;
  font-size: 10pt;
}
.logo {
  font-weight: bold;
  vertical-align: middle;
  line-height: 26px;
}

.tab-menu-list {
}
.tab-menu-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tab-menu-list > ul > li {
  float: left;
  border-right: 1px solid black;
  padding: 0px 8px 0px 8px;
  margin: 5px 0px 5px 0px;
}

.tab-menu-list > ul > li:last-child {
  border-right: 0;
}

/* main div */
.main {
  background-color: #f6f6ef;
  width: 100%;
}
